li {
  background-color: #832a4b;
}

li:nth-of-type(2n) {
  background-color: #742543;
}

li:nth-of-type(3n) {
  background-color: #551b31;
}

li:nth-of-type(4n) {
  background-color: #65203a;
}

li:first-child {
  transform: rotate(0deg) skewY(-45deg);
}
li:nth-child(2) {
  transform: rotate(45deg) skewY(-45deg);
}
li:nth-child(3) {
  transform: rotate(90deg) skewY(-45deg);
}
li:nth-child(4) {
  transform: rotate(135deg) skewY(-45deg);
}
li:nth-child(5) {
  transform: rotate(180deg) skewY(-45deg);
}
li:nth-child(6) {
  transform: rotate(225deg) skewY(-45deg);
}
li:nth-child(7) {
  transform: rotate(270deg) skewY(-45deg);
}
li:nth-child(8) {
  transform: rotate(315deg) skewY(-45deg);
}

.circle {
  width: 80vw;
  height: 80vw;
  border: 1px solid #000000;
  position: relative;
  padding: 0;
  margin: 1rem auto;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  box-shadow: 0 0 0.8rem #646464;
}

li {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform-origin: 0% 100%;
}

.text {
  color: rgba(255, 255, 255, 0.87);
  position: absolute;
  /* left: 10%; */
  top: 90%;
  width: 200%;
  height: 200%;
  text-align: center;
  transform: skewY(45deg) rotate(-60deg);
  cursor: pointer;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 30px solid #ffdda1;
  position: absolute;
  left: 50%;
  z-index: 1;
}

.spin-btn {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 2rem);
  left: calc(50% - 2rem);
  outline: none;
  border: none;
  background-color: #ffdda1;
  border: 0.3rem solid #ecc583;
  font-size: 1rem;
}

@media only screen and (min-width: 360px) {
  .circle {
    width: 18rem;
    height: 18rem;
  }
}
